.gradient-custom-2 {
    /* Fallback for old browsers */
    background: #001721;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #001721, #001721, #001721, #001721);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #001721, #001721, #001721, #001721);
    color: white;
  }
  
  .card {
    border: none;
  }
  
  .card-body {
    background-color: #f8f9fa; /* Light grey background for card body */
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #001721;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #001721cc;
  }
  
  .text-black {
    color: #001721 !important;
  }
  
  a {
    color: #001721;
  }
  
  a:hover {
    color: #001721cc;
  }
  
  .form-control {
    border: 1px solid #001721;
  }
  
  .form-control:focus {
    border-color: #001721;
    box-shadow: 0 0 0 0.2rem rgba(0, 23, 33, 0.25);
  }
  
  .form-outline .form-label {
    color: #001721;
  }
  
  .form-outline .form-label.focus {
    color: #001721;
  }
  
  .text-muted {
    color: #001721 !important;
  }
  